extends base

block navigation


block content
  .row-fluid
    h2.text-error 404
    .span6.offset2
        .alert
          h3 Error: Could Not Find The Page
        p.lead Sorry you are headed off the grid...
        img(src="/images/404.jpg")
      

