extends base

block search

block content
  .row-fluid
    .span6
      if downloads
        h3 We've served #{downloads} songs!
      p 
        | Welcome to our site. This is a work in progress by 
        a(href="https://github.com/hortinstein") Alex Hortin
        |  and 
        a(href="http://fzakaria.com") Farid Zakaria
        | .
      
      p 
        | The goal of the site is to try and provide you with the best experience possible in retrieving songs from a great music 
        a(href="http://hypem.com") blogger aggregator
        | .


    .span6
      
      .row-fluid
        .span12
          h3 Powered By 
          p This is a quick list of a lot of the modules and technolgies we've used to help power the site!
          ul.thumbnails
            li.span10
              a.thumbnail(href="http://nodejs.org")
                img.img-polaroid(src="/images/nodejs-dark.png", alt="NodeJS")
            li.span10
              a.thumbnail(href="http://coffeescript.org")
                img.img-polaroid(src="/images/coffees-cript.png", alt="Coffee-Script")

      .row-fluid
        .span12
          h3 Contact Us
          p You can reach 
            a(href="mailto:farid.m.zakaria@gmail.com")
              b Farid Zakaria 
            | or
            a(href="mailto:hortinstein@gmail.com")
              b Alex Hortin 
            | with any comments, bugs issues, or feature requests. Heck even just say hi!





