extends base


block append head-scripts
  script(src='/javascripts/main.js')

block content
  .row
    .span3
    .span8
      p Welcome to our downloading site! Please search for any song and we will try to give you links to download from!


