extends base
block search


block content
  .row
    .span2
    .span8
        form.form-signin
          h2.form-signin-heading Please Sign-in
          input(type="text",class="input-block-level",placeholder="Email address")
          input(type="password", class="input-block-level", placeholder="Password")
          label.checkbox
            input(type="checkbox", value="remember-me")p Remember Me

          button(class="btn btn-large btn-primary", type="submit") Sign-in

          hr

          div.btm-links
             a(href='#') Forgot Your Password?
             a.pull-right(href='/signup') Create An Account
            
             


    
include modals/alert
include modals/lost-password

script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')