
extends base
block search

block content
  .row
    .span2
    .span8
        form( method="post")#form-signup.well.span4
          h2.form-signin-heading Sign up!
          label Email Address
            input(type="text", name="email",class="input-block-level",placeholder="Email address")
          label Password
            input(type="password", name="password", class="input-block-level", placeholder="Password")
          label Confirm Password
            input(type="password", class="input-block-level", placeholder="Confirm Password")
          label Hypem Username
            input(type="text", name="hypem_username", class="input-block-level", placeholder="Hype Username")
           
          button(class="btn btn-large btn-primary", type="submit") Sign-in

          hr

          div.btm-links
             a(href='#') Forgot Your Password?
            
    