extends ../base

block content
  .row
    .span2
    .span8
        form.form-signin( method="post")
          h2.form-signin-heading Please Sign-in
          input(type="text", name="email", class="input-block-level",placeholder="Email address")
          input(type="password", name="password",class="input-block-level", placeholder="Password")
          label.checkbox
            input(type="checkbox", value="remember-me")p Remember Me

          button(class="btn btn-large btn-primary", type="submit") Sign-in

          hr

          div.btm-links
             a(href='#') Forgot Your Password?
             a.pull-right(href='/signup') Create An Account
            
             


    